/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
/* FONTS */


@font-face {
  font-family: "Novecento-DemiBold.ttf";
  src: url("../fonts/Novecento/Novecentosanswide-DemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Novecento-Normal.ttf";
  src: url("../fonts/Novecento/Novecentosanswide-Normal.ttf") format("truetype");
  font-weight: bold;
}
