/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/* BUTTONS */

.button-readmore{
  font-family: $font__secondary;
  border: 1px solid $color__primary;
  color: $color__primary;
  margin: 10px;
}

.button-shop{
  background-color: $color__primary-accent;
  padding: 10px 24px;
  font-family: $font__secondary;
  margin-bottom: 10px;
  border: none;
  color: $color__primary;
}
.button-journal{
  font-family: $font__secondary;
  border: 1px solid $color__secondary;
  color: $color__secondary;
}
.form-button{
  background-color: $color__primary-accent;
  font-family: $font__secondary;
  padding: 10px 24px;
  margin-bottom: 10px;
  border: none;
  color: $color__primary;
}

.button-more-adventures{
  background-color: $color__primary-accent;
  font-family: $font__secondary;
  padding: 10px 24px;
  border: none;
  color: $color__primary;
}
//single journal submit comment button:
.form-submit #submit{
  background-color: $color__primary-accent;
  font-family: $font__secondary;
  padding: 10px 24px;
  border: none;
  color: $color__primary;

}


/* Fields */

input[type="search"]{
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1px;

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"]{
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
