/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: $base__space-unit;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $base__space-unit;
}

.aligncenter {
	clear: both;
	@include center-block;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clearfix {
	clear: both;
	content: "";
	display: table;
}


/* FLEX */
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.flex-just-center{
  justify-content: center;
}
.flex-just-between{
  justify-content: space-between;
}
.flex-just-around{
  justify-content: space-around;
}
.flex-just-end{
  justify-content: flex-end;
}
.flex-just-start{
  justify-content: flex-start;
}
.flex-align-center{
  align-content: center;
}
.flex-align-items-center{
  align-items: center;
}
.flex-align-end{
  align-items: flex-end;
}
.flex-align-start{
  align-self: flex-start;
}
.flex-align-end{
  align-self: flex-end;
}
.flex-grow{
  flex-grow:1;
}
.flex-wrap{
  flex-wrap: wrap;
}
