/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font__main;
}



/* BANNER AND TOP NAV */
#top-nav{
  ul{
    display: flex;

  }
  ul li{
    padding-right: 15px;
    font-size: "Novecento-Normal.ttf";
    font-size: 1em;
  }
}

.nav-wrap{
  border-bottom: solid 1px $color__tertiary-accent;
}

header{
  z-index: 100000000;
}

.white-logo li:first-child{
  display:none;
}
.green-logo li:nth-child(2){
  display: none;
}
  li{
  list-style-type: none;
  }


.home-banner{
  flex-direction: column;
  background-position: center, center;
  background-size:  contain, cover;
  background-repeat: no-repeat;
  #search-icon{
    color: $color__primary;
  }
  h1{
    text-transform: uppercase;

  }
}

#no-banner {
  background-image: none;
  height: 10vh;
  border-bottom: solid 1px $color__tertiary-accent;
  #top-nav {
    a:link, a:visited, a:active {
      text-decoration: none;
      color: $color__primary-accent;
    }
  }
  #search-icon{
    color: $color__primary-accent;
  }
}

/* FOOTER */

footer{
  padding: 20px;

}
.text-footer-copyright{
  font-family: $font__secondary;
  font-size: 1em;
  padding: 20px;
  color: $color__primary;
  text-align: center;
}

#footer-columns{
  line-height: 2em;

  h2{
    color: $color__secondary-accent;
    font-size: 1.4em;

  }
  .footer-widget:last-of-type{
    text-align: right;
    flex-grow: 1;
    }
}
.footer-widget{
  margin: 10px;
}

/* ADVENTURES */

.adventure1{
  height: $grid-height;
}
.adventure2{
  height: calc((#{$grid-height}/2)-1);
  margin-bottom: 2.5px;
}
.adventure3{
  height: calc((#{$grid-height}/2)-1);
  margin:2.5px 2.5px 0 0;
}
.adventure4{
  height: calc((#{$grid-height}/2)-1);
  margin: 2.5px 0 0 2.5px;
}
.adventure-wrap{
  h3{
    font-family: $font__main;
    width: 90%;
    padding-top: 10px;
  }
}


/* POST COMMENTS */

.entry-footer{
  font-family: $font__secondary;
  text-transform: uppercase;
  color: $color__secondary;
  a:link, a:visited, a:active {
    text-decoration: none;
    color: $color__primary-accent;
  }
}
.comment-respond{
  h3{
    color: $color__secondary;
    font-size: 2em;
     text-transform: uppercase;
  }
  p{
    color: $color__secondary;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
    color: $color__primary-accent;
  }
}
.comments{
  width: 80%;
  margin: auto;
}

/* SHOP ARCHIVE and TAX ARCHVIE */


#terms{
  a:link, a:visited,  a:active {
  font-family: $font__secondary;
  text-decoration: none;
  color: $color__primary-accent;
  }
}
#term{
  p{
  padding: 30px 0px;
  }
}
#product-info{
  p{
    padding: 0;
  }
}

/* SEARCH */

#search-form{
  transition: all 1s;
-moz-transition: all 1s; /* Firefox 4 */
-webkit-transition: all 1s; /* Safari and Chrome */
-o-transition: all 1s; /* Opera */

}
#nav-search{
  display: none;
}
#search{
  h1{
    color: $color__primary-accent;
  }
  .page-title{
    color: $color__secondary;
  }
}
/*JOURNAL POSTS */
.entry-footer{
  width: 80%;
  margin: auto;
}
.nav-previous:before{
  content:'\2190';
}
.nav-next:after{
  content:'\2192';
}
#journal-grid {
  a:link, a:visited {
    text-decoration: none;
    color: $color__secondary;
  }
  h1{

    font-size: 1.5em;
  }
}

.button-journal-arrow:after {
    content:'\2192';
}

#journal-wrap{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  a:link, a:visited {
      text-decoration: none;
      color: $color__secondary;
  }
}
.journal-info h1{
  color: $color__primary-accent;
}
#journal-banner-1 {
  h2{
    width: 65%;
    color: $color__primary;
    background-color: $color__primary-accent;
  }
  h3{
    width: auto;
    color: $color__primary;
    background-color: $color__primary-accent;
  }
}
#journal-banner-1 a:link, a:visited {
    text-decoration: none;
    color: $color__primary;
}
/* BORDERS */
.dot-dot-dot{
  border-bottom: 2px dotted black;
  margin: 0 5px 7px 5px;
}
.horizontal-dotted-line{
  border-top: 1px dotted $color__tertiary-accent;
  margin-bottom: 10px;
}
.border-solid{
  border-style: solid;
  border-width: 3px 1px 1px 1px;
  border-color: $color__tertiary-accent;
}
.journal-border{
  border-style: solid;
  border-width: 3px 1px 1px 1px;
  border-color: $color__tertiary-accent;
  // height: auto;
}




/* SIDEBAR */
aside{
  width: 30vh;
  margin: 0 0 20px 0;

  a:link, a:visited {
      text-decoration: none;
      color: $color__primary-accent;
  }
  h2{
    text-transform: uppercase;
  }
}

.aside{
  line-height: 2em;
  padding: 40px 0 40px 40px;
  border-left: solid 1px $color__tertiary-accent;
    p{
    color: $color__secondary;
    }
    h2{
    color: $color__secondary;
    font-size: 1.4em;
    }
}


/* MARGINS and PADDINGS */

.left-margin{
  margin-left: 5px;
}
.margin-10-l{
  margin: 0 10px 0 0;
}
.margin-10{
  margin: 10px;
}
.margin-bottom-30{
  margin-bottom:30px;
}
.padding10{
  padding: 10px;
}
.padding20{
  padding: 0 20px 0 20px 0;
}
.padding30{
  padding: 30px 0;
}
.margin-auto{
  margin:auto;
}
section >h1{
  padding: 20px;
}

/* COLORS */

.color-primary{
  color: $color__primary;
}
.color-primary-accent{
  color: $color__primary-accent;
}
.color-secondary{
  color: $color__secondary;
}
.color-secondary-accent{
  color: $color__secondary-accent;
}
.color__tertiary-accent{
  color: $color__tertiary-accent;
}

/*HEIGHTS and WIDTHS */
.h-10vh{
  height: 10vh;
}
.h-20vh{
  height: 20vh;
}
.h-50vh{
  height: 50vh;
}
.w-20vh{
  width: 20vh;
}
.h-30vh{
  height: 30vh;
}
.w-50vh{
  width: 50vh;
}
.width100{
    width: 100%;
}
.width20{
  width: 20%;
}
.width25{
  width: 25%;
}
.content-box{
  box-sizing: content-box;
}
.width33{
  width: 33.333%;
}
.width50{
  width: 50%;
}
.width45{
  width: 45%;
}
.width70{
  width: 70%;
}



.background-img-prop{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overflow-hidden{
  overflow: hidden;
}
