/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/* FONTS and TEXT*/
.uppercase{
  text-transform: uppercase;
}
.base-font{
  font-family: $font__main;
}
.line-space-5{
  line-height: 0.8em;
  font-size: 1.8em;
}
.text-shadow{
   text-shadow: 2px 2px 5px $color__secondary;
}
.text-align-cent{
  text-align: center;
}
.font-secondary{
  font-family: $font__secondary;
}
.body-font{
  font-family:"Merriweather", serif;
  font-weight: lighter;
  font-size: 16px;
}
.text-white{
  color: $color__primary;
}

h1{
  font-family: $font__secondary;
  font-size: 2em;
  // padding: 20px;
}
h2{
  font-family: $font__secondary-bold;
  font-weight: bold;
  font-size: 2em;
  line-height: 0.8em;

}
h3{
  font-family: $font__secondary;
  font-weight: lighter;
  font-size: 1em;

}
h4{
  font-family: "Novecento-DemiBold.ttf";
  font-size: 1em;
}
h5{
  font-family: "Novecento-DemiBold.ttf";
  font-size: 1.2em;
}
p{
  font-family:"Merriweather", serif;
  font-weight: lighter;
	margin: 5px;
}
a:link, a:visited {
    text-decoration: none;
    color: $color__primary;
}
article{
  h1{
    margin: 0;

  }
  a:link, a:visited {
      text-decoration: none;
      color: $color__secondary;
  }
}

.page-content{
  h2{
    padding:20px 0 20px 0;
    color: $color__secondary;
  }
  li{
    a:link, a:visited {
        text-decoration: none;
        color: $color__primary-accent;

    }
  }
}

ul {
    list-style-type: none;
    // width: 60%;
}

.entry-content{
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  h2{
    text-transform: uppercase;
    padding: 10px 0;

  }
}
.widgettitle{
  text-transform: uppercase;
}
